# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
venv
venv/
env/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/

# Local Data and Logs (Local lakehouse caching kept out of git)
data/bronze/
data/silver/
data/gold/
logs/*.log
logs/run_telemetry.json
logs/metrics_*.json

# Terraform
*.tfstate
*.tfstate.*
.terraform/
.terraform.lock.hcl
